.row {
  font-size: 14px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: calc(var(--spacing-1) * 3) calc(var(--spacing-1) * 6);
  border-bottom: 1px solid var(--border-color);
}

.row:nth-child(n + 1):hover {
  background-color: var(--highlight-color);
}
